doctype html
html
  head
    title Node Authentication
    |     
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
    // load fontawesome
    // ADD THINGS TO STYLESHEET AFTER WE AGREE ON STYLING
    style.
      body              { padding-top:80px;color:#424242; }
      header            { background:#eaeaea;
                          text-align:center;
                          padding-bottom:15px;
                          border-bottom:solid 1px #d3d3d3; }
      .indexMainContent { overflow:hidden;
                          padding-bottom:15px;
                          border-bottom:solid 1px #d3d3d3; }
      .txtBox           { background:#eaeaea;
                          padding-bottom:100%;
                          margin-bottom:-100%; }
      .txtBox:hover     { background:#d3d3d3; }
      .loginBox         { background:#eaeaea;
                          padding-bottom:100%;
                          margin-bottom:-100%; }
      .loginBox:hover   { background:#d3d3d3; }
      .txtBoxBox        { width:100%;
                          height:10em; }
      footer            { background:#eaeaea; }
  body
    .container
      .row
        header.col-xs-12.text-align-center
          h1 Codesharers Club
          h3
            i //Because sharing is caring
      .row.indexMainContent
        .col-xs-7.txtBox 
          h4 Start typing words:
          input(type='textbox').txtBoxBox
          br
          a.btn.btn-default(href='/login') <!-- CHECK IF THE USER IS LOGGED IN LATER -->
            span.fa.fa-lock
            |  Save!
        .col-xs-5.loginBox
          h4
            span.fa.fa-lock
            //|  Authentication Page
            |  Log in:
          |         
          p Login or Register with:
          |         
          a.btn.btn-default(href='/login')
            span.fa.fa-user
            |  Local Login
          |         
          a.btn.btn-default(href='/signup')
            span.fa.fa-user
            |  Local Signup
      .row
        footer.col-xs-12
          h6 Lorem ipsum dolor sit amet


